*
!*_runtime_y_broken_*g8_ep8_bs16_*.pdf
!*_itl_*g8_ep8*.pdf
!*_tpot_*g8_ep8*.pdf
!*_ttft_*g8_ep8*.pdf
!total_token_throughput_g8_ep8*.pdf
!activated_experts_g8_ep8*.pdf
!moe_vs_gpu_oi.pdf
!token_balanced_vs_ideal_routing.pdf
!latency_breakdown.pdf
!routing_solver_experts.pdf
!routing_solver_time.pdf
!.gitignore
!all2all_8gpus.pdf
!background_moe_ep.pdf
!design_allgather.pdf
!GB200_*GPU_NVLS*.pdf
!*.py
!decode_latency_breakdown.pdf
!ep_vs_tp.pdf
!activated_vs_latency_exp_xlt_box_ERNIE-4.5-21B-A3B-PT_Edit_5k_char.pdf
!activated_vs_latency_exp_xlt_box_ERNIE-4.5-21B-A3B-PT_InstructCoder.pdf
!activated_vs_latency_exp_xlt_box_Qwen3-30B-A3B-8-128_Edit_5k_char.pdf
!activated_vs_latency_exp_xlt_box_Qwen3-30B-A3B-8-128_InstructCoder.pdf
!activated_vs_latency_exp_xnact_box_ERNIE-4.5-21B-A3B-PT_Edit_5k_char.pdf
!activated_vs_latency_exp_xnact_box_ERNIE-4.5-21B-A3B-PT_InstructCoder.pdf
!activated_vs_latency_exp_xnact_box_Qwen3-30B-A3B-8-128_Edit_5k_char.pdf
!activated_vs_latency_exp_xnact_box_Qwen3-30B-A3B-8-128_InstructCoder.pdf
!throughput_vs_p99tpot_ernie-4-5-21b-a3b-pt_edit_5k_char.pdf
!throughput_vs_p99tpot_ernie-4-5-21b-a3b-pt_instructcoder.pdf
!throughput_vs_p99tpot_qwen3-30b-a3b-8-128_edit_5k_char.pdf
!throughput_vs_p99tpot_qwen3-30b-a3b-8-128_instructcoder.pdf
!throughput_vs_p99ttft_ernie-4-5-21b-a3b-pt_edit_5k_char.pdf
!throughput_vs_p99ttft_ernie-4-5-21b-a3b-pt_instructcoder.pdf
!throughput_vs_p99ttft_qwen3-30b-a3b-8-128_edit_5k_char.pdf
!throughput_vs_p99ttft_qwen3-30b-a3b-8-128_instructcoder.pdf
!membound_cdf_ERNIE-4.5-21B-A3B-PT_Edit_5k_char.pdf
!membound_cdf_ERNIE-4.5-21B-A3B-PT_InstructCoder.pdf
!membound_cdf_Qwen3-30B-A3B-8-128_Edit_5k_char.pdf
!membound_cdf_Qwen3-30B-A3B-8-128_InstructCoder.pdf
!latency_breakdown_M_ERNIE-4.5-21B-A3B-PT_InstructCoder.pdf
!latency_breakdown_M_Qwen3-30B-A3B-8-128_InstructCoder.pdf