*
!*_runtime_y_broken_*g8_ep8_bs16_*.pdf
!*_itl_*g8_ep8*.pdf
!*_tpot_*g8_ep8*.pdf
!*_ttft_*g8_ep8*.pdf
!total_token_throughput_g8_ep8*.pdf
!activated_experts_g8_ep8*.pdf
!moe_vs_gpu_oi.pdf
!token_balanced_vs_ideal_routing.pdf
!latency_breakdown.pdf
!.gitignore
!*.py